# Analysis

# Cities List generation

In [34]:
# Import dependencies
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from citipy import citipy
import random
import requests
from config import api_key
import time

In [35]:
# List of latitudes and longitudes
latitudes = range (-90,90)
longitudes = range (-180,180)
city_list = []

for lat in latitudes:
    for lng in longitudes:
        city = citipy.nearest_city(lat, lng)
        city_name = city.city_name
        city_list.append(city_name)

#remove duplicates
city_dataframe=pd.DataFrame(city_list)
clean_city_dataframe = city_dataframe.drop_duplicates()

clean_city_dataframe.head()

               0
0          vaini
12       mataura
39       rikitea
53  punta arenas
88       ushuaia

In [36]:
clean_city_dataframe.count()

0    7957
dtype: int64

In [37]:
#generate cities sample
cities_sample = clean_city_dataframe.sample(10)
#generate the cities index from 1 to 600
cities_sample = cities_sample.reset_index(drop = True)
#rename the cities column by "City"
cities_sample.columns = ["City"]
#start the index from 1
cities_sample.index+= 1
#print the sampled cities
cities_sample.head()

        City
1       etla
2   naberera
3    macklin
4   mudbidri
5  ninh binh

In [38]:
#create the additional columns to hold the informations
cities_sample["Lat"]=""
cities_sample["Lng"]=""
cities_sample["Country"]=""
cities_sample["Date"]=""
cities_sample["Max temp"]=""
cities_sample["Humidity"]=""
cities_sample["Cloudiness"]=""
cities_sample["Wind speed"]=""
cities_sample.head()

        City Lat Lng Country Date Max temp Humidity Cloudiness Wind speed
1       etla
2   naberera
3    macklin
4   mudbidri
5  ninh binh

# Retrieve data from OpenWeatherMap Api

In [39]:
print("Data retrieval beginning")
print("------------------------")

#Open weather API key
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"
#define the units as imperial to retrieve temperature Farenheit and wind speed miles per hour
units = "Imperial"
#display url
url = "http://api.openweathermap.org/data/2.5/weather?"

for index,row in cities_sample.iterrows():
    city_name=row["City"]
    city_name_url= city_name.replace("", "%20")
    #query url
    query_url = url + "appid=" + api_key + "&units=" + units + "&q=" + row["City"]
    # Get weather data
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
#     print(weather_json)
    cities_sample.set_value(index,"Lat", int(weather_json["coord"]["lat"]))
    cities_sample.set_value(index,"Lng", int(weather_json["coord"]["lon"]))
    cities_sample.set_value(index,"Country", str(weather_json["sys"]["country"]))
    cities_sample.set_value(index,"Date", int(weather_json["dt"]))
    cities_sample.set_value(index,"Max temp", int(weather_json["main"]["temp_max"]))
    cities_sample.set_value(index,"Humidity", int(weather_json["main"]["humidity"]))
    cities_sample.set_value(index,"Cloudiness", int(weather_json["clouds"]["all"]))
    cities_sample.set_value(index,"Wind speed", int(weather_json["wind"]["speed"]))    
    print("Processing city #" + str(index) + " out of 600, name: " + str(city_name))
    query_url
    print(query_url)

print("------------------------")
print("Data retrieval done")

# Save config information

Data retrieval beginning
------------------------

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:24: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

Processing city #1 out of 600, name: etla
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=etla
Processing city #2 out of 600, name: naberera
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=naberera
Processing city #3 out of 600, name: macklin
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=macklin
Processing city #4 out of 600, name: mudbidri
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=mudbidri
Processing city #5 out of 600, name: ninh binh
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=ninh binh
Processing city #6 out of 600, name: taybad
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=taybad
Processing city #7 out of 600, name: sherpur
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=sherpur
Processing city #8 out of 600, name: elizabeth city
http://api.openweathermap.org/data/2.5/weather?appid=25bc90a1196e6f153eece0bc0b0fc9eb&units=Imperial&q=elizabeth city

KeyError: 'coord'

In [40]:
#clean the data and export to a csv file
cities_sample = cities_sample.dropna()
cities_sample.to_csv("export_Weatherpy_data.csv")
# print the number of cities exported
cities_sample.count()

City          10
Lat           10
Lng           10
Country       10
Date          10
Max temp      10
Humidity      10
Cloudiness    10
Wind speed    10
dtype: int64

In [41]:
cities_sample.head()

,City,Lat,Lng,Country,Date,Max temp,Humidity,Cloudiness,Wind speed
1,etla,17,-96,MX,1522871100,87,23,90,16
2,naberera,-4,36,TZ,1522876651,67,91,76,5
3,macklin,52,-109,CA,1522876661,19,95,80,6
4,mudbidri,13,74,IN,1522875600,80,83,20,2
5,ninh binh,20,105,VN,1522876662,69,97,48,5

# Temperature (F) vs Latitude

In [42]:
# plot scatterplot graph - City latitude vs temperature
date = time.strftime("%m/%d/%Y")
cities_sample.plot (kind="scatter", x="Lat", y="Max temp", grid = True, color="blue", edgecolor ="black", s=100, linewidth = 1)
plt.title(f"City Temperature (F) vs Latitude {date}")
plt.xlabel("Latitude")
plt.ylabel("Max Temperature (F)")
plt.grid(True)
plt.xlim(-70,70)
plt.ylim(-30, 100)
plt.show()
plt.savefig("Temperature.png")

ValueError: scatter requires x column to be numeric